<%= link_to 'Delete', post_path(@user, @post.id), method: :delete %>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <%= image_tag @post.image, class: 'thumb' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
