<h1><%= @task.title %></h1>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
    <%= f.hidden_field :task, :value => params[:task_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
