<!DOCTYPE html>
<html>
  <head>
    <title>Decojam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'home', root_path %>
    <% if current_user %>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Account', user_show_path(current_user) %>
      <h2><%= current_user.username %></h2>
    <% else %>
      <%= link_to 'sign in', new_user_session_path %>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
